.equipe__cabecalho {
    display: flex;
    flex-direction: column;
    background-color: var(--preto);
    color: var(--branco);
    text-align: center;
    padding: 2rem;
    gap: 1rem;
}

.equipe__cabecalho__titulo {
    font-size: 4rem;
}

.equipe__main {
    display: flex;
    background-image: url(../assets/fundo-equipe\ \(2\).jpg);
    justify-content: center;
    flex-wrap: wrap;
    padding: 6rem;
    gap: 2rem;
}

.container__cards {
    background-color: var(--branco);
    margin: 1rem;
    padding: 1rem;
    height: auto;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    text-align: center;
    width: 300px;
    box-sizing: border-box;
}

.container__redes {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.redes__sociais {
    text-decoration: none;
    color: var(--preto);
    background-color: var(--cinza);
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    width: 100px;
    box-sizing: border-box;
}

.redes__sociais:hover {
    background-color: #f0f0f0;
}

.equipe__foto {
    max-width: 15rem;
    max-height: 15rem;
    border-radius: 1rem;
}

.rodape {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: var(--preto);
    color: var(--branco);
    flex-wrap: wrap;
}

.rodape__esquerda,
.rodape__direita {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
    flex: 1;
    min-width: 200px;
}

@media screen and (max-width: 768px) {
    .equipe__cabecalho__titulo {
        font-size: 2rem;
    }

    .equipe__main {
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    .container__cards {
        margin: 2rem 0;
    }

    .container__redes {
        flex-direction: column;
        align-items: center;
        margin: 2rem 0;
    }

    .rodape {
        flex-direction: column;
        align-items: center;
    }
}
