.main__primario {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1rem;
    color: var(--branco);
    text-shadow: 10px 10px 10px darkslategray;
}

.bloco__primario {
    margin: 8rem 2rem;
    padding-left: 3rem;
}

.bloco__primario__titulo {
    font-size: 2.5rem;
}

.bloco__primario__paragrafo {
    font-size: 1.5rem;
}

.bloco__secundario {
    padding-top: 8rem;
    margin: 8rem 2rem;
}

.bloco__secundario__titulo {
    font-size: 2.5rem;
}

.bloco__secundario__paragrafo {
    font-size: 1.5rem;
}