.main__terciario {
    background-color: var(--preto);
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    width: 100%;
}

.main__terciario__titulo {
    color: var(--branco);
    text-align: center;
    font-size: 2rem;
}

.main__terciario__cards {
    display: flex;
    margin: 3rem;
    gap: 2rem;
    padding: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--branco);
    border-radius: 2rem;
    padding: 2rem;
    padding-bottom: 4rem;
    gap: 1rem;
}

.card__titulo {
    color: #175D7B;
    font-size: 1.5rem;
}

.card__paragrafo {
    color: var(--preto);
    font-size: 1.5rem;
    margin: 1.5rem;
}

@media screen and (max-width: 768px) {
    .main__terciario__cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
        margin-bottom: 2rem;
    }
}